<li id="empty_filter">
	<%= select_tag "empty_filter_col", options_for_select(columns), {:onchange => remote_function(:url => { :action => :criteria, :id => "fill_empty" }, :with => "'col_name=' + $('empty_filter_col').value")} %>	
</li>